# Virtual Environment
.venv/
__pycache__/
*.pyc

# Data and Models (Keep the directories, ignore the big files)
data/raw/*
data/processed/*
!data/raw/.gitkeep
!data/processed/.gitkeep
models/*
!models/.gitkeep

# System and Temp files
.DS_Store
.idea/
.vscode/
.tmp/
